$BLACK: #212529;
$GRAY_DARK: #343a40;
$GRAY: #ced4da;
$GRAY_LIGHT: #f1f3f5;
$WHITE: #f8f9fa;

$GREEN: #b0db9c;
$GREEN_LIGHT: #cae8bd;

$YELLOW: #fada7a;
$YELLOW_LIGHT: #fff9bd;

$RED: #fd7979;
$RED_LIGHT: #fdacac;
