@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Header {
  background: c.$WHITE;
  border-bottom: 1px solid c.$GRAY;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Button {
  background: c.$WHITE;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
