@use "../../style/colors.scss" as c;
@use "../../style/typography.scss" as t;

.Big {
  @include t.BODY_1();
}

.Medium {
  @include t.BODY_2();
}

.Small {
  @include t.BODY_3();
}

@mixin TextItemColoring($baseColor, $selectColor) {
  color: $baseColor;

  &::selection {
    color: $selectColor;
    background: $baseColor;
  }
}

.Black {
  @include TextItemColoring(c.$BLACK, c.$WHITE);
}

.Dark {
  @include TextItemColoring(c.$GRAY_DARK, c.$GRAY_LIGHT);
}

.Light {
  @include TextItemColoring(c.$GRAY_LIGHT, c.$GRAY_DARK);
}
.White {
  @include TextItemColoring(c.$WHITE, c.$BLACK);
}

.Left {
  text-align: left;
}

.Center {
  text-align: center;
}

.Right {
  text-align: right;
}
