@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

@mixin Priority($bgColor, $borderColor) {
  @include t.BODY_2();

  background: $bgColor;
  border: 1px solid $borderColor;
  width: max-content;
  border-radius: 5px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.Low {
  @include Priority(c.$GREEN_LIGHT, c.$GREEN);
}

.Moderate {
  @include Priority(c.$YELLOW_LIGHT, c.$YELLOW);
}

.High {
  @include Priority(c.$RED_LIGHT, c.$RED);
}
