@use "../../../../../shared/style/colors.scss" as c;

@mixin SideMenu {
  flex-shrink: 0;
  width: 20vw;
  padding: 15px 25px;
  height: 100%;
  background: c.$WHITE;
  border-right: 1px solid c.$GRAY;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
}

.Shown {
  @include SideMenu();
}

.Hidden {
  @include SideMenu();

  display: none; // TEMPORARY | REWRITE TO HIDE WITH ANIMATION LATER
}

.Links {
  border-top: 1px solid c.$GRAY;
  border-bottom: 1px solid c.$GRAY;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
