@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

@mixin Menu {
  flex-shrink: 0;
  width: 20vw;
  padding: 15px 25px;
  height: 100%;
  background: c.$WHITE;
  border-right: 1px solid c.$GRAY;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
}

.Shown {
  @include Menu();
}

.Hidden {
  @include Menu();

  display: none; // TEMPORARY | REWRITE TO HIDE WITH ANIMATION LATER
}

.Links {
  border-top: 1px solid c.$GRAY;
  border-bottom: 1px solid c.$GRAY;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Link {
  @include t.BODY_2();

  color: c.$GRAY_DARK;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: c.$WHITE;
  border: 1px solid c.$WHITE;
  transition: all 0.25s;

  &:hover {
    background: c.$GRAY_LIGHT;
    border-color: c.$GRAY;
  }
}
