@use "../../../shared/style/colors.scss" as c;

.Home {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 75px 125px;
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
