@use "../../../../../shared/style/colors.scss" as c;

.Board {
  width: 100%;
  height: 100%;
  background: c.$GRAY_LIGHT;
  display: flex;
  flex-direction: column;
}

.Head {
  display: flex;
  flex-direction: column;
  background: c.$WHITE;
}

.Form,
.Info {
  padding: 15px 25px;
  border-bottom: 1px solid c.$GRAY;
}

.Info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AddTask {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.Input {
  width: 25vw;
}

.Body {
  width: 100%;
  height: 100%;
  background: c.$GRAY_LIGHT;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  overflow-x: hidden;
}
