@use "../../style/colors.scss" as c;
@use "../../style/typography.scss" as t;

.Logo {
  @include t.HEADING_2();

  color: c.$BLACK;
  text-transform: uppercase;
  user-select: none;

  & span {
    color: c.$RED;
  }
}
