@use "../../../shared/style/colors.scss" as c;

.Column {
  background: c.$WHITE;
  border: 1px solid c.$GRAY;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 15px c.$GRAY;
}

.List {
  padding: 15px 10px;
  height: 50vh;
  width: 25vw;
  border: 1px solid c.$GRAY;
  background: c.$GRAY_LIGHT;
  border-radius: 5px;
}
