@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

@mixin Panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 35vw;
  background: c.$WHITE;
  border-left: 1px solid c.$GRAY;
  z-index: 10;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.25s linear;
}

.Shown {
  @include Panel();

  transform: translateX(0);
}

.Hidden {
  @include Panel();

  transform: translateX(100%);
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  border-top: 1px solid c.$GRAY;
  border-bottom: 1px solid c.$GRAY;
}

.Description {
  @include t.BODY_2();

  background: c.$GRAY_LIGHT;
  border: 1px solid c.$GRAY;
  border-radius: 5px;
  padding: 5px 15px;
  height: 25vh;
  resize: none;
  outline: 0;
}

.Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

@keyframes show {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
