@use "../../style/colors.scss" as c;
@use "../../style/typography.scss" as t;

@mixin Heading($flexGap) {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: $flexGap;
}

.First {
  @include t.HEADING_1();
  @include Heading(20px);
}

.Second {
  @include t.HEADING_2();
  @include Heading(15px);
}

.Third {
  @include t.HEADING_3();
  @include Heading(10px);
}

.Fourth {
  @include t.HEADING_4();
  @include Heading(10px);
}

@mixin HeadingColoring($baseColor, $selectColor) {
  color: $baseColor;

  &::selection {
    background: $baseColor;
    color: $selectColor;
  }
}

.Black {
  @include HeadingColoring(c.$BLACK, c.$WHITE);
}

.Dark {
  @include HeadingColoring(c.$GRAY_DARK, c.$GRAY_LIGHT);
}

.Dark {
  @include HeadingColoring(c.$GRAY_LIGHT, c.$GRAY_DARK);
}

.White {
  @include HeadingColoring(c.$WHITE, c.$BLACK);
}
