@use "../../../../../shared/style/colors.scss" as c;

.Info {
  padding: 15px 25px;
  border-bottom: 1px solid c.$GRAY;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Input {
  width: 20vw;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
